.content
    h1.sectionTitle Do you want to help?
    
    .carouselContainer
        .mask
            .wrapper
                .carousel
                    .item
                        img(src='./assets/images/social_1.png')
                    .item
                        img(src='./assets/images/social_1.png')
                    .item
                        img(src='./assets/images/social_1.png')
        .carouseControl
            .titles
                h2.show American Heart Association
                h2 titulo2
                h2 titulo3
            .arrows
                img.preview.arrow(src="./assets/images/left-arrow.svg", alt="")
                img.next.arrow(src="./assets/images/right-arrow.svg", alt="")
            .indexWrapper
                .line.active
                .line
                .line

    .photosWrapper
        .small
            img(src='./assets/images/art-terry-2.png')
        .big
            img(src='./assets/images/furniture-terry.png')
    .moreWays
        h2.title More ways to Help
        .extraContent
            .extra
                span.name News title
                span > see more
            .extra
                span.name News title
                span > see more
            .extra
                span.name News title
                span > see more