.content
    .subSection.intro
        .cta.parallax
            h1.sectionTitle The Artist      
        .images.parallax.right
            img(src='./assets/images/art.png')
    .subSection.creativeProcess
        .cta.parallax
            h2.title Creative Process
            p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque aut quia optio iste soluta corporis distinctio, ipsum exercitationem quasi mollitia. Dolore quasi totam hic expedita quo quis quaerat temporibus dolorem.
        .images.parallax.right
            img(src='./assets/images/art-2.png')
    .subSection.illustration
        .images.parallax
            img(src='./assets/images/art-terry-2.png')
        .cta.parallax
            h2.title Illustrations 
            p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque aut quia optio iste soluta corporis distinctio, ipsum exercitationem quasi mollitia. Dolore quasi totam hic expedita quo quis quaerat temporibus dolorem.
        .images.parallax.right
            img(src='./assets/images/art-terry-1.png')
        .images.parallax
            img(src='./assets/images/art-terry-2.png')
    .subSection.furniture
        .cta.parallax
            h2.title Furniture
            p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque aut quia optio iste soluta corporis distinctio, ipsum exercitationem quasi mollitia. Dolore quasi totam hic expedita quo quis quaerat temporibus dolorem.
        .images.parallax.right
            img(src='./assets/images/furniture-terry.png')
    
    .carouselContainer
        .mask
            .wrapper
                .carousel
                    .item
                        img(src='./assets/images/furniture.png')
                    .item
                        img(src='./assets/images/furniture-2.png')
                    .item
                        img(src='./assets/images/furniture-terry.png')
        .carouseControl
            .titles
                h2.show Collection
                h2 titulo2
                h2 titulo3
            .arrows
                img.preview.arrow(src="./assets/images/left-arrow.svg", alt="")
                img.next.arrow(src="./assets/images/right-arrow.svg", alt="")
            .indexWrapper
                .line.active
                .line
                .line
                .line
