.content
    .content-wrapper
        .subSection.intro
            img(src="./assets/images/terry.png", alt="")
        .subSection.small
            h1.date
            p.copy.
                Terry Alan Crews was born on July 30, 1968, to Patricia and Terry Crews, Sr. in Flint, Michigan. He was brought up in strict Christian family, largely by his mother as his father was alcoholic.
            p.copy.
                He was selected as a defensive end for the 'WMU Broncos' and earned an all-conference honors helping his team to win the 'Mid-American Conference Championship' in 1988.
            //img(src="./assets/images/terry crews redskins.jpg")
        .subSection
            h1.date
            img(src="./assets/images/terry crews redskins.jpg")
            p.copy.
                He was selected as a defensive end for the 'WMU Broncos' and earned an all-conference honors helping his team to win the 'Mid-American Conference Championship' in 1988.
        .subSection.medium
            h1.date
            p.copy.
                He was selected as a defensive end for the 'WMU Broncos' and earned an all-conference honors helping his team to win the 'Mid-American Conference Championship' in 1988.
            img(src="./assets/images/terry_bio_young.png")
        .subSection
            h1.date
            p.copy.
                He was selected as a defensive end for the 'WMU Broncos' and earned an all-conference honors helping his team to win the 'Mid-American Conference Championship' in 1988.
            img(src="./assets/images/terry crews redskins.jpg")
        .subSection
            h1.date
            img(src="./assets/images/terry_bio_young.png")
            p.copy.
                He was selected as a defensive end for the 'WMU Broncos' and earned an all-conference honors helping his team to win the 'Mid-American Conference Championship' in 1988.
    .scrollbar
        //maybe could be a component
        .sliderWrapper
            .sliderBar
            .sliderKnot
                h3.yearScroll 1964
                
            input(type="range" min="0" max="100" value="0" id="bioScrollBar")
