#loadingScreen
	#loadingLogo
		//- svg
		//- 	linearGradient(id="loading-gradient" x1="0%" y1="100%" x2="100%" y2="0%")
		//- 		stop(offset="0%" style="stop-color:rgb(255,255,255);stop-opacity:1")
		//- 		stop(offset="34%" style="stop-color:rgb(255,255,255);stop-opacity:1")
		//- 		stop(offset="35%" style="stop-color:rgb(251,251,251);stop-opacity:0")
		//- 		stop(offset="100%" style="stop-color:rgb(0,0,0);stop-opacity:0")
			
		//include ../../../public/assets/images/tc-logo.svg

#sectionContainer
	#globalBackground
		.line
		.line
		.line
		.line

	tc-nav
	section-landing.section
	section-biography.section
	section-filmography.section
	section-art.section
	section-Activism.section
	movie-detail.section
	tc-footer