.content
    .gridBg
        .leftGrid
            - for(var x = 0;x < 4;x++)
                .rect
        .mainGrid
            - for(var x = 0;x < 16;x++)
                .rect
        .rightGrid
            - for(var x = 0;x < 4;x++)
                .rect

    .overlay
        .titleContainer
            h1.sectionTitle The Artist
            //img.logoTitle(src="")