.content
    .headerBanner
        img
    .bodyContent
        .cta
            .titleWrapper
                h2.title
                a.link Link
            p.description

        .images
            .trailer
                video(src="")
                img(src="", alt="")
            
            .character
                img(src="", alt="")
                p.description
            
            img.sceneImage(src="", alt="")

        .next
            h3.nextMovie Next Movie >