nav
    .mobile-nav
        a.link.filmography(href='#filmography') Filmography
        a.link.art(href='#art') Art
        a.link.biography(href='#biography') Life
        a.link.activism(href='#activism') Social Work
    #nav-logo
        a(href='#landing')
            include ../../../public/assets/images/tc-logo.svg

    .news-btn
        include ../../../public/assets/images/ham-menu.svg
    .section-nav.closed
        a.link.filmography(href='#filmography') Filmography
        a.link.art(href='#art') Art
        a.link.biography(href='#biography') Life
        a.link.activism(href='#activism') Social Work

    .mobile-open-menu
        include ../../../public/assets/images/ham-menu.svg
        